.listings-page {
    background: #fff;


    #filter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .form-group {
            label {
                font-weight: 700px;
            }
    
            select {
                background: #fff;
                border-radius: 5px;
                padding: 10px;
                color:#1b1b1b;
                display:flex;
            }
        }
    }
}